# Presentaci√≥n Intermedia
## Student's Performance

In [2]:
import pandas as pd
import numpy as np

In [4]:
%ls

00_00_binder.ipynb                    A3.ipynb      datasets/
00_00_primer_pasos.ipynb              A5.ipynb      README.md
01_01_data_types.ipynb                Clase1.ipynb  requirements.txt
01_02_read_iloc_unique_groupby.ipynb  Clase2.ipynb  StudentsPerformance.csv
02_00_data_wrangling.ipynb            Clase3.ipynb  Untitled.ipynb
02_01_null_display.ipynb              Clase4.ipynb
02_02_basic_math.ipynb                Clase5.ipynb

In [5]:
df = pd.read_csv('StudentsPerformance.csv')
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [6]:
df.columns

Index(['gender', 'race/ethnicity', 'parental level of education', 'lunch',
       'test preparation course', 'math score', 'reading score',
       'writing score'],
      dtype='object')